/*BASE*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 15px;

  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*TOP PAGE*/

.top-page {
  display: flex;
  justify-content: space-between;
  border: 2px dashed red;
}

/*CENTER*/

.time {
  text-align: center;
  align-self: center;
  border: 2px dashed red;
}

/*AUTHOR*/

#author-container {
  align-self: flex-start;
  min-height: 20px;
  min-width: 100px;
  border: 2px dashed red;
}
