/*BASE*/

body {
  margin: 0;
  padding: 15px;
  box-sizing: border-box;
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: antiquewhite;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 1px 1px 2px #474747;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*TOP PAGE*/

.top-page {
  display: flex;
  justify-content: space-between;
  border: 2px dashed red;
}

/*CENTER*/

.time {
  text-align: center;
  align-self: center;
  border: 2px dashed red;
}

/*AUTHOR*/

#author-container {
  border: 2px dashed red;
}
